<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">


    {%include "./components/navbar.html"%}

    <!-- main landing -->
    <div class="row-auto flex min-h-screen px-[20px] md:px-[85px]">
        <div class="w-full flex text-center my-4">
            <div class=" w-full px-[30px] md:px-[70px] py-[50px] rounded-lg">
                <h1 class="text-4xl md:text-5xl text-left font-sharetechmono text-text font-bold">
                    About Us
                </h1>
                <br>

                <div class="text-text text-sm md:text-base font-sharetechmono text-left">
                    Welcome to GreenVolt, a pioneering platform dedicated to revolutionizing how we think about and
                    engage with renewable energy. At GreenVolt, we believe that sustainable energy isn't just about
                    technology—it's about community, education, and incentivizing positive change. </div>

                <br>
                <h1 class="text-2xl md:text-3xl text-left font-sharetechmono text-text font-bold">
                    Our Mission
                </h1>

                <div class="text-text text-sm md:text-base font-sharetechmono text-left">
                    GreenVolt's mission is to empower individuals and communities to actively participate in the green energy movement. We aim to make renewable energy accessible, understandable, and rewarding for everyone. By integrating technology with innovative reward systems, we help users track their energy consumption and earn rewards for conserving energy.
                </div>

                <br>
                <h1 class="text-2xl md:text-3xl text-left font-sharetechmono text-text font-bold">
                    What We Offer
                </h1>

                <div class="text-text text-sm md:text-base font-sharetechmono text-left">
                    1. <span class="font-bold text-lg text-accent">Reward System for Electricity Consumption:</span>
                    At GreenVolt, we believe that every effort towards energy conservation deserves recognition. Our unique reward system tracks your electricity consumption and rewards you with crypto coins for reducing your energy usage. This system not only encourages sustainable habits but also provides a tangible benefit for your efforts.

                    <br><br>    
                    2. <span class="font-bold text-lg text-accent">Marketplace for Renewable Energy Generators:</span> Our platform offers a dynamic marketplace where users can buy renewable resource generators like solar panels, wind turbines, batteries, and much more. This feature helps you find the best solutions to reduce your carbon footprint and contribute to a greener planet.
                    
                    <br><br>    
                    3. <span  class="font-bold text-lg text-accent">Forums and Community Engagement:</span> GreenVolt is more than just a platform—it's a community. Our forums provide a space for users to share their experiences, ask questions, and support each other in their green energy journeys. Engage with like-minded individuals and learn from the collective wisdom of our community.
                    
                    <br><br>    
                    4. <span class="font-bold text-lg text-accent">Educational Blogs:</span> Knowledge is power. Our blog section is filled with articles, guides, and insights on sustainable development and green resources. Stay informed about the latest trends, technologies, and best practices in renewable energy and sustainability.
                </div>

                <br>
                <h1 class="text-2xl md:text-3xl text-left font-sharetechmono text-text font-bold">
                    Join Us
                </h1>

                <div class="text-text text-sm md:text-base font-sharetechmono text-left">
                    GreenVolt invites you to be a part of our growing community. Whether you're an individual looking to make a difference, a homeowner wanting to reduce energy costs, or a green technology enthusiast, GreenVolt has something for you. Together, we can create a sustainable future, one kilowatt at a time.
                </div>

                <br>

            </div>
        </div>


    </div>


    {%include "./components/footer.html"%}


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>