<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">


    {%include "./components/navbar.html"%}

    <!-- main landing -->
    <div
        class="row-auto flex min-h-screen px-[20px] md:px-[85px]">
        <div class="w-full flex text-center my-4">
            <div id="content-area" class=" w-full px-[30px] md:px-[70px] py-[50px] rounded-lg">

                {{blog | safe}}

            </div>
        </div>


    </div>

   
    {%include "./components/footer.html"%}  


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>