<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">



    {%include "./components/navbar.html"%}

    <!-- main landing -->
    <div
        class="row-auto flex px-[20px] md:px-[85px]">
        <div class="w-full flex text-left mt-4">
            
            <div class="w-full h-fit py-[10px] rounded-lg">
                <h1 class="text-text font-sharetechmono text-5xl font-bold">
                    Blogs
                </h1>
            </div>
        </div>


    </div>

    <div
        class="row-auto flex min-h-screen px-[20px] md:px-[85px]">
        <div class="w-full flex text-left ">
            
            <div class="w-full">
                
                {% for x in blogs %}

                <div onclick="goto(`{{x['_id']}}`)" id="blog-card" class="block sm:flex place-items-center hover:text-background text-text hover:bg-text border-2 my-4 border-accent w-full h-fit p-2  rounded-lg">
                    <div class="flex sm:blockjustify-center place-items-center"><img class="w-full rounded-lg sm:w-[200px]" src="{{x['img']}}"></div>
                    <div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </div>
                    <div>
                        <h1 class="text-accent font-sharetechmono text-3xl font-bold">
                            {{x['title']}}
                        </h1>
                        <p class="text-inherit font-sharetechmono text-lg font-bold">
                            {{x['description']}}
                        </p>
                    </div>
                </div>
                {% endfor %}
                                
            </div>
        </div>


    </div>

   
    {%include "./components/footer.html"%}  

    <script>
        function goto(url){
            window.location.href  = "/blog/"+url;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>