<hr class="border-2 w-full border-[#2b2b2b]">

<!-- footer side -->
<footer class="w-full pt-6">

    <div class="text-center">
        <!-- links -->
        <div style="margin-top: 20px;" class="flex justify-center items-center space-x-4">
            <a style="margin:0px 0px 10px 10px" href="https://instagram.com/krishsharma0413" class="footer-svg">
                <img src="/static/instagram-icon.svg">
            </a>
            <a style="margin:0px 0px 10px 10px" href="https://github.com/krishsharma0413" class="footer-svg">
                <img src="/static/github-icon.svg">
            </a>
            <a style="margin:0px 0px 10px 10px" href="https://youtube.com" class="footer-svg">
                <img src="/static/youtube-icon.svg">
            </a>
            <a style="margin:0px 0px 10px 10px" href="https://facebook.com" class="footer-svg">
                <img src="/static/facebook.svg">
            </a>
            <a style="margin:0px 0px 10px 10px" href="mailto:krishsharma0413@gmail.com" class="footer-svg">
                <img src="/static/google-gmail.svg">
            </a>
        </div>

        <div class="flex justify-center items-center space-x-4">
            <a style="margin:0px 0px 10px 10px" href="/about-us" class="footer-link">About</a>
            <a style="margin:0px 0px 10px 10px" href="/blog" class="footer-link">Blog</a>
            <a style="margin:0px 0px 10px 10px" href="/market" class="footer-link">Market</a>
            <a style="margin:0px 0px 10px 10px" href="/contact-us" class="footer-link">Forum</a>
        </div>
    </div>

    <!-- <br> -->

    <div class="text-text text-left text-[12px] font-sharetechmono">
        ©2024 GreenVolt. All rights reserved.

    </div>
</footer>