<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">



    {%include "./components/navbar.html"%}



    
    <!-- main landing -->
    <div
        class="row-auto flex px-[20px] md:px-[85px]">
        <div class="w-full flex text-left mt-4">
            
            <div class="w-full h-fit py-[10px] rounded-lg">
                <h1 class="text-text font-sharetechmono text-5xl font-bold">
                    📃Forums
                </h1>
            </div>
        </div>


    </div>

    <div
        class="row-auto flex px-[20px] md:px-[85px]">
        <div class="w-full flex text-left ">
            
            <div class="w-full">
                <div id="blog-card" class="block sm:flex place-items-center text-text border-2 my-4 border-accent w-full h-fit p-2  rounded-lg">

                    <div class="w-full px-3">
                        <h1 class="text-inherit font-sharetechmono text-3xl font-bold">
                            Create Post
                        </h1>
                        <hr class="w-full mb-2 h-[2px] border-0 bg-accent">
                        <br>
                        <form action="/api/create-post" method="get">
                            <label class="text-text font-semibold text-lg font-sharetechmono" for="forumtitle">Title</label>
                            <input name="forumtitle" type="text" class="w-full px-2 text-background font-sharetechmono rounded-lg">
                            <br>
                            <br>
                            <label class="text-text font-semibold text-lg font-sharetechmono" for="forumdesc">Description</label>
                            <textarea name="forumdesc" class="w-full text-background font-sharetechmono p-2 rounded-lg">
                            </textarea>
                            <button type="submit" class="bg-accent mt-2 px-4 py-1 font-sharetechmono text-base font-bold">
                                SUBMIT
                            </button>
                        </form>
                        
                    </div>
                </div>
                                
            </div>
        </div>


    </div>

    <div
        class="row-auto flex min-h-screen px-[20px] md:px-[85px]">
        <div class="w-full flex text-left ">
            
            <div class="w-full">
                
                {% for x in forums%}
                <div onclick="goto(`{{x['_id']}}`)" id="forum-card" class="block sm:flex place-items-center hover:text-background text-text hover:bg-primary border-2 my-4 border-accent w-full h-fit p-2  rounded-lg">

                    <div class="w-full px-3">
                        <h1 class="text-inherit font-sharetechmono text-4xl font-bold">
                            {{x['title']}}
                        </h1>
                        <hr class="w-full mb-2 h-[2px] border-0 bg-accent">

                        <p class="text-inherit font-sharetechmono text-lg font-bold">
                            {{x['description'][:100].strip() + "..."}}
                        </p>

                        <p class="text-inherit text-right font-sharetechmono text-base font-bold">
                            Replies: {{x['count']}}
                        </p>
                        
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>


    </div>

   
    {%include "./components/footer.html"%}  


    <script>
        function goto(id){
            window.location.href = "/forum/"+id;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>