<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">



    {%include "./components/navbar.html"%}


    <!-- main landing -->
    <div
        class="row-auto flex px-[20px] md:px-[85px]">
        <div class="w-full flex text-center my-4">
            <div class=" w-full px-[30px] md:px-[70px] py-[50px] rounded-lg">
                <h1 class="text-4xl md:text-5xl text-left font-sharetechmono text-text font-bold">
                    {{title}}
                </h1>
                <a href="/profile/{{profile}}" class="w-full text-accent block text-sm text-left mt-2 font-sharetechmono">
                    {{author}}
                </a>
                <br>

                <div class="text-text text-sm md:text-base font-sharetechmono text-left">
                    {{description | safe}}
                </div>
            </div>
        </div>


    </div>

    
    <div
        class="row-auto flex px-[20px] md:px-[85px]">
        <div class="w-full flex text-center">
            <div class=" w-full px-[30px] md:px-[70px] rounded-lg">
                <h1 class="text-3xl text-left font-sharetechmono text-text font-bold">
                    Replies
                </h1>
                
                <hr class="bg-text h-[2px] mb-2">

                <div class="text-text font-sharetechmono text-left prose-lg">
                    <form action="/api/create-reply">
                        <input type="hidden" name="forum_id" value="{{forum_id}}">
                        <textarea name="reply" class="text-background w-full h-[100px] p-2"></textarea>
                        <button class="text-2xl px-4 bg-accent text-text font-sharetechmono font-semibold">SUBMIT</button>
                    </form>

                    <br>
                    <hr class="bg-text h-[2px] my-2">

                {% for x in replies %}

                    <div id="replies" class="my-2">
                        <div class="w-full flex place-items-center py-2">
                            <img src="{{x['avatar']}}" class=" w-[50px] h-[50px] border-2 rounded-full aspect-square">
                            &nbsp;&nbsp;
                            <div>
                                <h1 class="reply-name">{{x['name']}}</h1>
                                <p class="reply-msg">{{x['reply']}}</p>
                            </div>
                        </div>
                    </div>


                {% endfor %}
                </div>
            </div>
        </div>


    </div>
   
    {%include "./components/footer.html"%}  


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>