<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">



    {%include "./components/navbar.html"%}


    
    <!-- main landing -->
    <div
        class="row-auto flex px-[20px] md:px-[85px]">
        <div class="w-full flex text-left mt-4">
            
            <div class="w-full h-fit py-[10px] rounded-lg">
                <h1 class="text-text font-sharetechmono text-5xl font-bold">
                    👤Leaderboard
                </h1>
            </div>
        </div>


    </div>

    <div class="w-full flex my-5 justify-center">
        <div class="w-[90%] flex flex-col">
            <div class="border-2 border-accent rounded-lg p-5">
                <div class="text-left flex w-full pt-3">
                    <div class="relative w-full text-text text-lg">
                        
                        <table class="overflow-x-scroll text-center rounded-lg sm:w-full">
                            <tr>
                                <th class="border-2 bg-accent">Rank</th>
                                <th class="border-2 bg-accent">Full Name</th>
                                <th class="border-2 bg-accent">Average Consumption</th>
                            </tr>
                            <tr>
                                <td class="border-2">1</td>
                                <td class="border-2">John Doe</td>
                                <td class="border-2">1000 kWh</td>
                            </tr>
                            
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

   
    {%include "./components/footer.html"%}  

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>