<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">



    {%include "./components/navbar.html"%}


    <!-- main landing -->
    <div
        class="row-auto flex justify-start items-start min-h-screen px-[20px] md:px-[85px]">
        <div class="w-full justify-center flex text-center items-center">
            <div class=" w-full text-left px-[30px] md:px-[70px] py-[50px] rounded-lg">
                <h1 class="text-7xl text-left font-sharetechmono text-text font-bold">
                    Green Energy Market
                </h1>
                <h1 class="text-xl text-left mt-3 font-sharetechmono text-text">
                    Want some green alternative solutions for your house? You are at the right place.
                </h1>

                <hr class="border-2 mt-2 mb-4 w-[80%] border-accent">


                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2  xl:grid-cols-3 my-10">
                    
                    {% for x in products %}

                    <div id="product-card" class="p-5">
                        <div style="background-image: url({{x['productimage']}});"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-4 z-20 px-1 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-sharetechmono font-bold">
                                        {{x['productname']}}
                                    </h1>
                                    <h1 class="text-text text-left w-full text-xl font-sharetechmono font-bold">
                                        Rs. {{x['productprice']}} | {{x['productdescription']}}
                                    </h1>
                                    <br>
                                    <a href="/marketplace/{{x['_id']}}"
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-primary hover:bg-primary py-2 px-4 font-bold font-sharetechmono text-3xl my-3">
                                        View Product
                                </a>
                                <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>

            </div>
        </div>


    </div>
    
    {%include "./components/footer.html"%}  

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>