<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>

<body class="bg-background">

    {%include "./components/navbar.html"%}

    <div
        class="row-auto block pt-[100px] md:pt-[20px] md:flex md:justify-center items-center min-h-screen px-[20px] md:px-[85px] pb-[50px] md:pb-[0px] md:py-[80px]">
        <div class="w-full flex justify-center md:w-1/2  my-4">
            <img src="{{product['productimage']}}" alt="landing image" class="w-[80%] rounded-lg">
        </div>
        <div class="w-full justify-center flex text-center items-center md:w-1/2 my-4">
            <div>
                <h1 class="w-fit font-sharetechmono text-text font-bold text-[70px]" style="line-height: 64px;">
                    {{product["productname"]}}
                </h1>

                <p class="font-semibold font-sharetechmono text-text w-fit">
                    Rs. {{product["productprice"]}} | {{product["productdescription"]}}
                </p>

                <p class="mt-4 flex justify-center place-items-center">
                    <a href="/api/cart?product_id={{product['_id']}}" class="bg-accent text-lg mr-2 text-text font-sharetechmono font-bold px-4 py-1">
                        ADD TO CART
                    </a>
                    <a href="/thank-you" class="bg-accent text-lg text-text font-sharetechmono font-bold px-4 py-1">
                        BUY NOW
                    </a>
                </p>
            </div>
        </div>


    </div>


    {%include "./components/footer.html"%}  

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>